<div class="content meteo-footer has-text-centered">
    <p>
        <strong style="color: #fff;">Station météo</strong> - <a href="https://gitlab.com/paralixo/station-meteo" target="_blank">Gitlab</a>
    </p>
    <p>Antoine NICOLLEAU Benoit GALMOT Florian LAFUENTE Souleimane SEGHIR</p>
    
</div>