<nav class="navbar" role="navigation" style="background: #171F48" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        <strong style="color: #fff" >Station météo</strong>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if (user) { %>
            <a href="/logout" class="button is-primary">
              <strong>Déconnexion</strong>
            </a>
            <a href="/" class="button is-primary">
              <strong><%- user.NAME %></strong>
            </a>
          <% } else {%>
            <a href="/login" class="button is-light">
              Connexion
            </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>