<div id="myAlarm" width="400" height="200">
    <form method="POST" action="/">
        <div style="display:inline-block;">
            <label>Temp. minimale</label>
            <input style="width: 50px;" type="number" name="alarm_temp_min" value=<%= user.MINIMAL_TEMPERATURE %>>
            <label>Temp. maximale</label>
            <input style="width: 50px;" type="number" name="alarm_temp_max" value=<%= user.MAXIMAL_TEMPERATURE %>>
        </div>
        <input class="button is-fullwidth is-light is-outlined" type="submit" value="Modifier l'alarme">
    </form>
    <form method="POST" action="/">
        <div style="display:inline-block; margin-top: 10%;">
            <label>Hum. minimale</label>
            <input style="width: 50px;" type="number" name="alarm_hum_min" value=<%= user.MINIMAL_HUMIDITY %>>
            <label>Hum. maximale</label>
            <input style="width: 50px;" type="number" name="alarm_hum_max" value=<%= user.MAXIMAL_HUMIDITY %>>
        </div>
        <input class="button is-fullwidth is-light is-outlined" type="submit" value="Modifier l'alarme">
    </form>
</div>