<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <%- include('./partials/header', {user: user}); %>
  </header>
  <main>
    <section class="is-fullheight section">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="tabs is-small is-toggle is-right" id="tabs">
                <p style="margin: 0" class="title">Graphique</p>
                <ul>
                  <li class="is-active" data-tab="1">
                    <a>
                      <span>Température</span>
                    </a>
                  </li>
                  <li data-tab="2">
                    <a>
                      <span>Humidité</span>
                    </a>
                  </li>
                  <li data-tab="3">
                    <a>
                      <span>Ensemble</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="tab-content">
                <p class="is-active" data-content="1">
                  <%- include('./widgets/graphique-temp'); %>
                </p>
                <p data-content="2">
                  <%- include('./widgets/graphique-hum'); %>
                </p>
                <p data-content="3">
                  <%- include('./widgets/comparatif'); %>
                </p>
              </div>
            </div>
          </div>
          <div class="tile is-6 is-vertical">
            <div class="tile">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">Température</p>
                  <%- include('./widgets/temperature'); %>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">Humidité</p>
                  <%- include('./widgets/humidity'); %>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-child box">
                <p class="title">Alarme</p>
                <%- include('./widgets/alarme'); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  <script id="myTemp" humidity="<%= humidity %>" temperature="<%= temperature %>" type="module" src="js/chart.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
  <script>
    $(document).ready(function() {
    $('#tabs li').on('click', function() {
      var tab = $(this).data('tab');

      $('#tabs li').removeClass('is-active');
      $(this).addClass('is-active');

      $('#tab-content p').removeClass('is-active');
      $('p[data-content="' + tab + '"]').addClass('is-active');
    });
  });
  </script>
</body>
</html>