<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <div class="container is-fullhd">
      <section class="section is-medium">
        <div class="meteo-form box">
          <div class="columns is-vcentered is-centered">
            <div class="column is-8">
              <form action="/login" method="POST">
                <div class="field">
                  <h1 style="text-align: center; color: #fff; font-size: 22pt;">Connexion</h1>
                </div>
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="pseudo" placeholder="Pseudo">
                    <span class="icon is-small is-left">
                      <ion-icon name="person"></ion-icon>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Mot de passe">
                    <span class="icon is-small is-left">
                      <ion-icon name="lock-closed"></ion-icon>
                    </span>
                  </p>
                </div>
                <input class="button is-fullwidth is-light is-outlined" type="submit" value="Se connecter">
                <a class="help has-text-centered" href="/signup">Ou créer un compte</a>
                <% if (login_error.length > 0) {%>
                  <div class="error-message"><%= login_error %></div>
                <% } %>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
<script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>