.meteo-form {
    background: #171F48;
    margin: 0 auto;
    width: 50%;
    max-width: 50%;
    padding: 6%;
}

a.navbar-item:hover strong {
    color: #00c4a7 !important;
}

a.navbar-item:hover {
    background-color: #171F48;
}

.meteo-footer {
    position: relative;
    padding: 1rem 0;
    background: #171F48
}

.meteo-footer p {
    margin-bottom: 0 !important;
    color: #fff;
}

a:hover {
    color: #00c4a7;
}

#tab-content p {
    display: none;
}

#tab-content p.is-active {
    display: block;
}

.success-message {
    color: green;
    text-align: center;
    font-size: x-large;
}

.error-message {
    color: red;
    text-align: center;
    font-size: x-large;
}

  